* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

.font-link {
  min-height: 100%;
  font-family: 'Share Tech Mono', cursive;
}

.fsize {
  font-size: 1.5rem;
}

.fsize1 {
  font-size: 1.2rem;
}

.bgradient {
  background: linear-gradient(90deg, #C96567 0%, #644E5B 100%);
}

.fcwhite {
  color: white;
}

.fc1 {
  color: #97AABD;
}

.fc2 {
  color: #314455;
}

.fc3 {
  color: ##c96567;
}

.bgc1 {
  background-color: #314455;
}

.bgc2 {
  background-color: #644e5b;
}

.bgc3 {
  background-color: #9e5a63;
}

.btngradient {
  background: linear-gradient(90deg, #C96567 0%, #644E5B 100%);
  outline: none;
}

.navbar.active {
  background: linear-gradient(90deg, #C96567 0%, #644E5B 100%);
}

.navBarRight {
  margin-left: auto;
}

.cardHighlight {
  min-height: 100%;
}

.boldText {
  font-weight: bold;
}

.styleCard {
  display: flex;
  flex-wrap: wrap;
  gap: 8%;
}

.styleCard > * {
  flex: 1 1 100%;
  min-height: 20rem;
}

.styleLogin {
  border-radius: 25px;
  margin: 5%;
  padding: 3%;
  min-height: 100vh;
}

.styleRegister {
  border: 1px;
  border-radius: 25px;
  margin: 5%;
  padding: 3%;
  min-height: 100vh;
}

.styleApp {
  background-image: url("./img/caps3background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  min-height: 100vh;
  text-align: right;
}

/*.styleColl {
  background-image: url("./img/caps3background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  min-height: 100vh;
  text-align: right;
}*/

.styleCardTitle {
  text-align: center;
}

.styleCardFooter {
  text-align: center;
}

/*.styleH1 {
  color: red;
}*/

.styleRow > * {
  margin-bottom: 3rem;
}

.styleH1Admin {
  text-align: center;
  margin-top: 5rem;
}

.styleBtnAdmin {
  text-align: center;
}

.styleBtnAdmin > * {
  margin: .5rem;
}

.stylePrice {
  position: absolute;
  bottom: 4rem;
  left: 1rem;
}

.styleActionsBtn {
  justify-content: center;
  text-align: center;
}

.alignCenter {
  text-align: center;
}

td {
  justify-content: center;
}

.quantity {
  display: flex;
  justify-content: center;
}

.quantity > * {
  text-align: center;
  padding: 0.5em;
  width: 2.5em;
  border: none;
  border-radius: 0.3em;
}

.quantity > Button {
  background-color: #314455;
  color: #97aabd;
}

.chkBtn {
  width: 100%;
}

.styleTotal {
  font-size: 1.5em;
}